<h1>Events</h1>

<div>
    {{#each results}}

    <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Game:  {{this.game}}</h5>
                <p class="card-text">Date: {{this.date}}</p>
                <p class="card-text">Time: {{this.time}}</p>
                <p class="card-text">Host: {{this.players}}</p>
                <p class="card-text">Contact: {{this.contact}}</p>
                <form>
                    <button type="submit" class="btn btn-primary">Register!</button>
                </form>
            </div>
    </div>
    {{/each}}
</div>