<h1>Welcome!</h1>

<div class="container">
    {{#each users}}
    <tr>
        <td>{{this.name}} </td>
        <td>{{this.age}}</td>
        <td>{{this.game}}</td>
    </tr>

    <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Name:  {{this.name}}</h5>
                    <p class="card-text">Email: {{this.date}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
    </div>
    {{/each}}
</div>