<h1>Registered Members</h1>

<table>  
    <tr>
        <th>Player</th>
        <th>Age</th>
        <th>Game</th>
    </tr>
    {{#each users}}
        <tr>
            <td>{{this.name}} </td>
            <td>{{this.age}}</td>
            <td>{{this.game}}</td>
        </tr>
    {{/each}}
</table>

{{!-- <ul>
    {{#each users}}
            <li>{{this.name}}  {{this.age}} {{this.game}}</li>
    {{/each}}
</ul> --}}

<a href="/signup">sign up</a><h2> Hello WORLD </h2>

<ul>
    {{#each users}}
    <table>
        <tr>
            <th> id </th>
            <th> fullName</th>
            <th>emailAddress</th>
            <th> city </th>
            <th>country </th>
        </tr>

        {{#each users}}
        <tr>
            <td>{{this.id}} </td>
            <td>{{this.fullName}}</td>
            <td>{{this.emailAddress}}</td>
            <td>{{this.city}}</td>
            <td>{{this.country}}</td>
        </tr>
    {{/each}}
    </table>
    
          <li>{{this.id}}  {{this.fullName}}  {{this.emailAddress}}  {{this.city}}  {{this.country}} </li>
          {{/each}}

        </ul>